# this is the django secret key
SECRET_KEY=your_secret_key

# 0 is for environment prod, 1 is for dev environment
DEBUG=1

# comma separated lists of allowed hosts
DJANGO_ALLOWED_HOSTS="localhost,127.0.0.1"

# base url for the frontend
DJANGO_BASE_FRONTEND_URL="http://localhost:3000"

# google oauth client and secret
GOOGLE_OAUTH2_CLIENT_ID=your_google_oauth_client
GOOGLE_OAUTH2_CLIENT_SECRET=your_google_oauth_secret

# postgresql database values
POSTGRES_PASSWORD="postgresql"
POSTGRES_USER="postgresql"
POSTGRES_DB="postgresql"

DATABASE_ENGINE="postgresql"
DATABASE_NAME="postgresql"
DATABASE_USERNAME="postgresql"
DATABASE_PASSWORD="postgresql"
DATABASE_HOST="pgdb"
DATABASE_PORT=5432
