.page-title {
  font-size: 48px;
  /*color: rgb(71,112,193);*/
  color: rgb(16, 35, 53);
  text-align: center;

}.chat-container{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:30px;
}
.chat-input-container{
  display:flex;
  align-items:center; 
  width:880px;
  max-width:90%;
  height:80px;
  border:1px solid #ddd;
  border-radius:30px;
  overflow:hidden;
  margin-top:100px;
  background:white;
  padding:8px;
}

.chat-input{
  flex:1;
  height:100%;
  padding:0 20px;
  border:none;
  outline:none;
  font-size:18px;
}

.send-btn{
  height:100%;
  padding:0 32px;
  border:none;
  border-radius:30px;
  background:#4770c1;
  color:white;
  cursor:pointer;
  font-size:18px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.send-btn:hover{
  background:#5e80c1;
}