.dashboard-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 240px;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  background-color: white;
  border-right: 1px solid #dcdbdb;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar-header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-logo {
  width: 120px;
}

.toggle-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

/* NAVIGATION */

.sidebar-nav {
  padding: 20px 0;
}

.sidebar-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  margin: 8px 0;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 12px 20px;
  text-decoration: none;
  color: #3f4041;
}

.nav-link:hover {
  background: #f5f5f5;
}

.nav-icon {
  font-size: 18px;
  min-width: 20px;
}

.nav-text {
  font-size: 16px;
}

.sidebar.collapsed .nav-link {
  justify-content: center;
}

.sidebar.collapsed .nav-text {
  display: none;
}

.main-content {
  margin-left: 240px;
  width: calc(100vw - 240px);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease;
}

.main-content.expanded {
  margin-left: 80px;
  width: calc(100vw - 80px);
}


@media (max-width: 768px) {

  .sidebar {
    width: 80px;
  }

  .main-content {
    margin-left: 80px;
  }

}